.devtools-panel {
    height: 600px;
    width: 700px;
}

.devtools-button {
    padding: 3px;
}

.devtools-tab {
    padding: 4px;
}

.devtools-tab:selected {
    font-weight: bolder;
}

.devtools-tabBox {
    padding: 3px;
    spacing: 3px;
}

.devtools-panelButton {
    padding: 3px;
}

.devtools-refreshBox {
    padding: 3px;
    spacin: 2px;
}

.devtools-extension-mainBox {
    
}

.devtools-extension-container {
    
}

.devtools-terminal-entry {
    background-color: #ffffff;
    color: #000000;
}

.devtools-terminal-processMainBox {
    
}

.devtools-terminal-processBox {
    
}

.devtools-separator {
    /*uncomment these lines to make separators disapear*/
    /*-gradient-height: 0px;*/
    /*-margin-horizontal: 0px;*/
    /*height: 0px;*/
}