.devtools-panel {
    height: 600px;
    width: 700px;
}

.devtools-tab {
    padding: 4px;
    background-color: inherit;
    border-style: solid;
    border-width: 2px;
    border-color: inherit;
}

.devtools-tab:selected {
    font-weight: bolder;
}

.devtools-tabBox {
    padding: 3px;
    spacing: 3px;
}

.devtools-panelButton {
    padding: 3px;
}

.devtools-refreshBox {
    padding: 3px;
    spacin: 2px;
}